{% extends 'core/base.html' %}


    {% block content %}

      <h1>Menu</h1>
      {% for category in categories %}
      <h2>{{ category.display_order }}. {{ category.name }}</h2>

      <ul>
        {% for element in category.items.all %}
          <li>{{ element.name }} - R{{ element.price }}
        {% if element.description %}
        <br>
          <small>{{ element.description}}</small>
        {% endif %}
          </li>
        {% empty %}
        <li>No products available</li>
        {% endfor %}
      </ul>
      {% endfor %}
    {% endblock %}
