{% extends 'core/base.html' %}
{% load static %}

    {% block content %}

    {% for category in categories %}
      <section class="menu-category">
        
        <h2>{{ category.display_order }}. {{ category.name }}</h2>
      
        {% for element in category.items.all %}
        <div class="menu-item">
          <div class="menu-header">
            <span class="item-name">{{ element.name }}</span>
            <span class="item-price">R{{ element.price }}</span>
          </div>

          {% if element.description %}
            <p class="item-description">{{ element.description }}</p>

          {% endif %}
        </div>
        {% empty %}
          <p>No products available</p>
        {% endfor %}
      </section>
     {% endfor %}
    {% endblock %}
